*{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    border: 3px red solid;
    padding: 16px 300px;
    align-items: center;
}

.flex-item{
    flex: 1;
    border: 3px blue solid;
    margin: 16px;
    height: 40px;
}

.flex-container.hero{
    background-color: #1F2937;
}

.flex-item.hero{
    height: 300px;
}

.flex-item.hero.right{
    background-color: grey;
    color: white;
    text-align: center;   
    vertical-align: middle;
    line-height: 300px;
}

.flex-item.hero.left{
    padding: 16px;
}

.flex-item.hero.left h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.flex-item.hero.left p{
    margin-top: 8px;
    color: #E5E7EB;
    font-size: 18px;
}

button{
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 8px 24px;
    margin-top: 16px;
    border-radius: 4px;
    border: none;
}

.flex-item.info{
    align-items: center;
    flex: 1;
    height: 240px;
    width: 160px;
    text-align: center;
    padding: 24px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}

.flex-item.info.item{
    flex: 1;
    height: 160px;
    border-radius: 8px;
}

.flex-container.quote{
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
}

.flex-item.quote{
    width: 1000px;
}

#text{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0;
}

#author{
    margin-top: 0;
    text-align: right;
    font-weight: 800;
}

.flex-container.action{
    padding: 32px 280px;
}

.flex-item.action{
    height: 160px;
    border-radius: 8px;
    background-color: #3882F6;
    display: flex;
}

.flex-item.action.item{
    margin-left: 24px;
    padding: 24px;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.flex-item.action.item#text{
    flex: 3;
    padding: 28px 24px;

}

.flex-item.action.item#text h2{
    font-size: 24px;
    font-style: normal;
    text-align: left;
    color: white;
}

.flex-item.action.item p{
    font-size: 16px;
    color: white;
    font-style: normal;
}

.flex-item.action.item button{
    border: 2px solid white;
    margin-left: 60px;
    margin-right: 60px;
}